In [30]:
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.' ], 
              'Sue': ['Pretty good.', 'Bland.']}, 
               index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [261]:
U = pd.DataFrame({'Apple': [20], 
              'Banana': [31]}, 
               index=['Số lượng'])
print (U.T)
# T là transpose ma trận đảo 3*2 thành 2*3

        Số lượng
Apple         20
Banana        31

In [32]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head(6)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

In [10]:
wine_reviews['description'].head(5)

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

In [11]:
wine_reviews[['country', 'price']].sample(5)

          country  price
91255    Portugal   10.0
92674          US   35.0
103109  Argentina   19.0
117973      Spain   30.0
43427     Germany   23.0

In [15]:
wine_reviews.iloc[0]

country                                                            Germany
description              Notes of honeysuckle and cantaloupe sweeten th...
designation                         Brauneberger Juffer-Sonnenuhr Spätlese
points                                                                  90
price                                                                   28
province                                                             Mosel
region_1                                                               NaN
region_2                                                               NaN
taster_name                                             Anna Lee C. Iijima
taster_twitter_handle                                                  NaN
title                    Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
variety                                                           Riesling
winery                            Dr. H. Thanisch (Erben Müller-Burggraef)
Name: 129966, dtype: object

In [140]:
#pd.Series([1, 2, 3, 4, 5])
# A2 = pd.Series([5,4,3,2,1])
# pd.DataFrame({A1,A2})

pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [4]:
pd.Series([1, 2, 3, 4, 5])
pd.Series(['4 cups', '1 can', '2 large', '1 can' ], index=['Flour', 'Milk', 'Egg', 'Spam'], name='Product A')

Flour     4 cups
Milk       1 can
Egg      2 large
Spam       1 can
Name: Product A, dtype: object

In [142]:
wine_reviews.iloc[-5:]
# Đang lấy 5 bạn cuối từ dưới lên
# lấy phần index - hàng ngang, 
# lấy index lấy iloc nếu là số[] 
# Index không phải là số thì dùng loc[] vừa chữ vừa số

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [22]:
wine_reviews.loc[0:10, 'country']

0        Italy
1     Portugal
2           US
3           US
4           US
5        Spain
6        Italy
7       France
8      Germany
9       France
10          US
Name: country, dtype: object

In [20]:
wine_reviews[['description']]
#same as => wine_reviews.description

                                              description
0       Aromas include tropical fruit, broom, brimston...
1       This is ripe and fruity, a wine that is smooth...
2       Tart and snappy, the flavors of lime flesh and...
3       Pineapple rind, lemon pith and orange blossom ...
4       Much like the regular bottling from 2012, this...
...                                                   ...
129966  Notes of honeysuckle and cantaloupe sweeten th...
129967  Citation is given as much as a decade of bottl...
129968  Well-drained gravel soil gives this wine its c...
129969  A dry style of Pinot Gris, this is crisp with ...
129970  Big, rich and off-dry, this is powered by inte...

[129971 rows x 1 columns]

In [25]:
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129929,Italy,"This luminous sparkler has a sweet, fruit-forw...",NaN,91,38.0,Veneto,Prosecco Superiore di Cartizze,NaN,NaN,NaN,Col Vetoraz Spumanti NV Prosecco Superiore di...,Prosecco,Col Vetoraz Spumanti
129943,Italy,"A blend of Nero d'Avola and Syrah, this convey...",Adènzia,90,29.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 Adènzia R...,Red Blend,Baglio del Cristo di Campobello
129947,Italy,"A blend of 65% Cabernet Sauvignon, 30% Merlot ...",Symposio,90,20.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend,Feudo Principi di Butera
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [30]:
first_descriptions = wine_reviews.description[0:10]
print(first_descriptions)

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

In [37]:
sample_reviews_1 = wine_reviews.description [0:10:2]
print (sample_reviews_1)

0    Aromas include tropical fruit, broom, brimston...
2    Tart and snappy, the flavors of lime flesh and...
4    Much like the regular bottling from 2012, this...
6    Here's a bright, informal red that opens with ...
8    Savory dried thyme notes accent sunnier flavor...
Name: description, dtype: object

In [40]:
sample_reviews_0 = wine_reviews.description [[1,5,3]]
print (sample_reviews_0)

1    This is ripe and fruity, a wine that is smooth...
5    Blackberry and raspberry aromas show a typical...
3    Pineapple rind, lemon pith and orange blossom ...
Name: description, dtype: object

In [64]:
sample_reviews_2 = wine_reviews.loc[[1,10,100],['country','province', 'region_1','region_2']]
print (sample_reviews_2)

      country    province      region_1      region_2
1    Portugal       Douro           NaN           NaN
10         US  California   Napa Valley          Napa
100        US    New York  Finger Lakes  Finger Lakes

In [56]:
wine_reviews.loc[:10]['country']

0        Italy
1     Portugal
2           US
3           US
4           US
5        Spain
6        Italy
7       France
8      Germany
9       France
10          US
Name: country, dtype: object

In [68]:
# Nếu index là số, hàm iloc hoạt động nhưu numpy - không lấy phần tử cuối cùng
# Tuy nhiên khi idex là chữ, hàm loc lấy cả giá trị cuối cùng
wine_reviews.loc[:99,['country','variety']]

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

In [69]:
 wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France']) & (wine_reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
119,France,Medium-gold in color. Complex and inviting nos...,Schoenenbourg Grand Cru Vendanges Tardives,92,80.0,Alsace,Alsace,NaN,NaN,NaN,Dopff & Irion 2004 Schoenenbourg Grand Cru Ven...,Riesling,Dopff & Irion
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
126,France,Mid-gold color. Pronounced and enticing aromas...,Vendages Tardives,91,48.0,Alsace,Alsace,NaN,NaN,NaN,Pierre Sparr 2007 Vendages Tardives Gewurztram...,Gewürztraminer,Pierre Sparr
127,France,Attractive mid-gold color with intense aromas ...,Alsace One,91,13.0,Alsace,Alsace,NaN,NaN,NaN,Pierre Sparr 2008 Alsace One White (Alsace),White Blend,Pierre Sparr
128,France,"Compelling minerality on the nose, Refined and...",NaN,91,17.0,Alsace,Alsace,NaN,NaN,NaN,Kuentz-Bas 2008 Pinot Blanc (Alsace),Pinot Blanc,Kuentz-Bas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart
129965,France,"While it's rich, this beautiful dry wine also ...",Seppi Landmann Vallée Noble,90,28.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Rieflé-Landmann 2013 Seppi Landmann Va...,Pinot Gris,Domaine Rieflé-Landmann
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [71]:
f = lambda x,y: x/y
f(1,2)

0.5

In [73]:
wine_reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [8]:
 wine_reviews.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

In [81]:
wine_review_points_mean = wine_reviews.points.mean()
def minus_mean(v):
    return v - wine_review_points_mean

A = wine_reviews.points.map(minus_mean)
print(A)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [265]:
import numpy as np
review_points_mean = wine_reviews.points.mean()
print ('Mean:',review_points_mean)

def minus_mean(v):
   return v - review_points_mean

A = wine_reviews.points.map(minus_mean)
print(A)

Mean: 88.44713820775404
0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [46]:
#def remean_points(row):
#    row.points = row.points - review_points_mean
#    return row

"hai bạn này tương đương nhau"

wine_reviews.head(100).apply(lambda r: r.points - review_points_mean, axis= 1) # axis = "index"

0    -1.447138
1    -1.447138
2    -1.447138
3    -1.447138
4    -1.447138
        ...
95   -0.447138
96   -0.447138
97   -0.447138
98   -0.447138
99   -0.447138
Length: 100, dtype: float64

In [101]:
review_points_median = wine_reviews.points.median()
print(review_points_median)

88.0

In [109]:
print (wine_reviews.points/wine_reviews.price)

0              NaN
1         5.800000
2         6.214286
3         6.692308
4         1.338462
            ...
129966    3.214286
129967    1.200000
129968    3.000000
129969    2.812500
129970    4.285714
Length: 129971, dtype: float64

In [269]:
#Bài 6: Một chai vang thì có thể được gán tính từ nhiệt đới hay là có vị trái cây. 
#Tạo một Series desc_counts đếm số lần mỗi từ tropical hay fruity xuất hiện trong cột mô tả
wine_reviews.description.map(lambda desc:'Fruit'in desc).value_counts()

# dùng value_counts() hoặc sum() đều được

False    129321
True        650
Name: description, dtype: int64

In [264]:
#

In [145]:
 wine_reviews.sample()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
42675,US,"Fresh, fruity cranberry and raspberry flavors ...",Cabernet Franc-Lemberger,87,22.0,New York,Finger Lakes,Finger Lakes,Anna Lee C. Iijima,NaN,Anthony Road 2013 Cabernet Franc-Lemberger Red...,Red Blend,Anthony Road

In [155]:
wine_reviews.shape[0]
#Row number

129971

In [163]:
 wine_reviews.loc[0, 'country']

'Italy'

In [267]:
 wine_reviews .country.value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Macedonia                    12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [65]:
#wine_reviews.groupby('points').points.count()
wine_reviews.groupby('price').max()

,description,points,title,winery,idxmax
price,,,,,
4.0,"Tropical fruit and citrus aromas aren't bad, b...",86,Terrenal 2010 Estate Bottled Tempranillo (Yecla),Terrenal,21.500000
5.0,"While this smells floral and candied, the pala...",87,Zamarro 2009 Malbec-Bonarda (Mendoza),Zamarro,17.400000
6.0,With solid peach aromas and an otherwise clean...,88,Zarpado 2009 Malbec (Mendoza),Zarpado,14.666667
7.0,lean and zesty Chardonnay with a burst of mout...,91,flipflop NV Left Coast Pinot Noir (Chile),flipflop,13.000000
8.0,here too many Pinot Grigios are sweet and suga...,91,Zonin 2007 Primo Amore Pinot Grigio (Delle Ven...,Zonin,11.375000
...,...,...,...,...,...
1900.0,"A massive wine for Margaux, packed with tannin...",98,Château Margaux 2009 Margaux,Château Margaux,0.051579
2000.0,This extravagantly perfumed wine has great jui...,97,Domaine du Comte Liger-Belair 2005 La Romanée,Domaine du Comte Liger-Belair,0.048500
2013.0,The nose on this single-vineyard wine from a s...,91,Blair 2013 Roger Rose Vineyard Chardonnay (Arr...,Blair,0.045206
2500.0,The wine is a velvet glove in an iron fist. Th...,96,Domaine du Comte Liger-Belair 2010 La Romanée,Domaine du Comte Liger-Belair,0.038400
3300.0,This ripe wine shows plenty of blackberry frui...,88,Château les Ormes Sorbet 2013 Médoc,Château les Ormes Sorbet,0.026667

In [87]:
H = wine_reviews.groupby('price').points.max()
print (H[::-1])

price
3300.0    88
2500.0    96
2013.0    91
2000.0    97
1900.0    98
          ..
8.0       91
7.0       91
6.0       88
5.0       87
4.0       86
Name: points, Length: 390, dtype: int64

In [70]:
wine_reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [10]:
wine_reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

#Nghe nói là cách 2:
def get_best_wine(group):
    return group.loc[group.points.idxmax()]

# Ở đây, ta chỉ hiển thị 2 cột 
wine_reviews.groupby(['country', 'province'])['points',  'title'].apply(get_best_wine)

#wine_reviews.groupby(['country', 'province'])['idxmax'].apply(get_best_wine) 
# Question !!!
# Gỉa thuyết 1:  object Nhóm B phải lớn hơn hoặc bằng nhóm A


wine_reviews.groupby('price').points.max()
# Câu trên là liệt kê các loại vang cao điểm nhất nhất trong mỗi nhóm giá

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [321]:
  
#Question: Tại sao phải đi kèm với các hàm max(), min()
# lấy giá trị của trường gần nhất

In [312]:
 wine_reviews.loc[wine_reviews['description'].str.contains('Fruits') ]
# Lấy ra kết quả ở cột description có word Fruits - kiến thức ngoài lề

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,idxmax,star_ratings
19566,US,"Fruits, flowers and spice should lead the nose...",Estate Bottled,80,15.0,Ohio,Ohio,NaN,Susan Kostrzewa,@suskostrzewa,Hermes 2006 Estate Bottled Nebbiolo (Ohio),Nebbiolo,Hermes,5.333333,1
100194,US,Winemaker Isabelle Meunier (ex-Evening Land) h...,Tualatin Estate,92,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Lavinea 2014 Tualatin Estate Pinot Noir (Willa...,Pinot Noir,Lavinea,1.415385,2

In [192]:
#def get_mean(price):
    
    
wine_reviews.groupby(['country', 'province'])['price','points'].agg([max, min])
# Ideas: Muốn hiển thị cả mean của point và price thì như nào?
# Solutions: Tạo một def tính mean và cho vô

                            price       points
                              max   min    max min
country   province
Argentina Mendoza Province  230.0   4.0     97  80
          Other             150.0   7.0     95  80
Armenia   Armenia            15.0  14.0     88  87
Australia Australia Other   130.0   5.0     93  80
          New South Wales   125.0   8.0     94  82
...                           ...   ...    ...  ..
Uruguay   Juanico           130.0  10.0     90  80
          Montevideo         60.0  17.0     91  83
          Progreso           46.0  12.0     90  82
          San Jose           50.0  20.0     87  82
          Uruguay            50.0  12.0     91  81

[425 rows x 4 columns]

In [158]:
N = wine_reviews.groupby(['country', 'province']).description.agg([len])
N.sort_values(by=['len'], ascending=False)

                                len
country      province
US           California       36247
             Washington        8639
France       Bordeaux          5941
Italy        Tuscany           5897
US           Oregon            5373
...                             ...
Croatia      Krk                  1
New Zealand  Gladstone            1
South Africa Piekenierskloof      1
Chile        Coelemu              1
Greece       Beotia               1

[425 rows x 1 columns]

In [250]:
countries_reviewed = wine_reviews.groupby(['country', 'province']).description.agg([len])
mi = countries_reviewed.index
type(mi)
print(mi)
#Bài copy mẫu với Multi-index

MultiIndex([('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            (  'Armenia',           'Armenia'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            (  'Austria',           'Austria'),
            ...
            (       'US',        'Washington'),
            (       'US', 'Washington-Oregon'),
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=425)

In [302]:
# Ai là người review vang nhiều nhất? 
# Tạo một Series với index là taster_twitter_handle và giá trị là số lần mỗi người review viết.
#Cách 1:
wine_reviews.groupby('taster_twitter_handle').size()
# giá trị ko được sắp xếp
# Cách 2: 
wine_reviews.taster_twitter_handle.value_counts()

@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64

In [ ]:
# có $400, tìm tên loại vang ngon nhất mà tôi có thể mua với số tiền đang có? 
# Chưa chắc đã đúng!
Q = wine_reviews.loc[(wine_reviews.price <= 400)]

Q.groupby([ 'price'])['points'].agg(max)

In [195]:
# Giá tiền thấp nhất và cao nhất cho mỗi variety của vang là gì? 
# Tạo một DataFrame có index là danh mục variety và giá trị là min và max của giá. (gợi ý: dùng agg())
wine_reviews.groupby(['variety'])['price'].agg([max, min])

               max   min
variety
Abouriou      75.0  15.0
Agiorgitiko   66.0  10.0
Aglianico    180.0   6.0
Aidani        27.0  27.0
Airen         10.0   8.0
...            ...   ...
Zinfandel    100.0   5.0
Zlahtina      16.0  13.0
Zweigelt      70.0   9.0
Çalkarası     19.0  19.0
Žilavka       15.0  15.0

[707 rows x 2 columns]

In [337]:
# Những loại vang đắt tiền nhất trong mỗi nhóm là gì? 
# Tạo biến sorted_varieties với giá trị từ câu trước được sắp xếp theo thứ tự giảm dần dựa vào giá min, sau đó là giá max.
W = wine_reviews.groupby(['variety'])['price' ].agg([max])
W.sort_values(by=['max'], ascending=False)
 #Làm với min - the same

                                   max
variety
Bordeaux-style Red Blend        3300.0
Pinot Noir                      2500.0
Chardonnay                      2013.0
Grüner Veltliner                1100.0
Bordeaux-style White Blend      1000.0
...                                ...
Roscetto                           NaN
Sauvignon Blanc-Sauvignon Gris     NaN
Tempranillo-Malbec                 NaN
Vital                              NaN
Zelen                              NaN

[707 rows x 1 columns]

In [332]:
# Tạo một Series có index là những người review và values là điểm review trung bình của người đó 
# (gợi ý: cần các cột taster_name và points)
E = wine_reviews.groupby(['taster_name']).points.sum() / wine_reviews.groupby('taster_name').size()  
print (E)

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
dtype: float64

In [328]:
# Nhóm nước và loại vang nào là phổ biến nhất? 
# Tạo một Series có index là một MultiIndex của cặp {country, variery}. 
# Sắp xếp giá trị torng Series theo thứ tự giảm dần dựa vào số lượng vang đếm được. 
# (gợi ý: dùng groupby() rồi đếm trên variety sau đó sort_values().)
E = wine_reviews.groupby('country').size()
E.sort_values(ascending=False).reset_index()

                   country      0
0                       US  54504
1                   France  22093
2                    Italy  19540
3                    Spain   6645
4                 Portugal   5691
5                    Chile   4472
6                Argentina   3800
7                  Austria   3345
8                Australia   2329
9                  Germany   2165
10             New Zealand   1419
11            South Africa   1401
12                  Israel    505
13                  Greece    466
14                  Canada    257
15                 Hungary    146
16                Bulgaria    141
17                 Romania    120
18                 Uruguay    109
19                  Turkey     90
20                Slovenia     87
21                 Georgia     86
22                 England     74
23                 Croatia     73
24                  Mexico     70
25                 Moldova     59
26                  Brazil     52
27                 Lebanon     35
28                 Morocco     28
29                    Peru     16
30                 Ukraine     14
31               Macedonia     12
32                  Serbia     12
33          Czech Republic     12
34                  Cyprus     11
35                   India      9
36             Switzerland      7
37              Luxembourg      6
38  Bosnia and Herzegovina      2
39                 Armenia      2
40                   Egypt      1
41                Slovakia      1
42                   China      1

In [253]:
# Tạo một Series có index là một MultiIndex của cặp {country, variery}.
Cau_466 = wine_reviews.groupby(['country', 'variety']).description.agg([len])
T = Cau_466.index
print(T)

MultiIndex([('Argentina',                           'Barbera'),
            ('Argentina',                           'Bonarda'),
            ('Argentina',          'Bordeaux-style Red Blend'),
            ('Argentina',        'Bordeaux-style White Blend'),
            ('Argentina',                    'Cabernet Blend'),
            ('Argentina',                    'Cabernet Franc'),
            ('Argentina', 'Cabernet Franc-Cabernet Sauvignon'),
            ('Argentina',             'Cabernet Franc-Malbec'),
            ('Argentina',                'Cabernet Sauvignon'),
            ('Argentina', 'Cabernet Sauvignon-Cabernet Franc'),
            ...
            (  'Uruguay',                        'Pinot Noir'),
            (  'Uruguay',                         'Red Blend'),
            (  'Uruguay',                              'Rosé'),
            (  'Uruguay',                   'Sauvignon Blanc'),
            (  'Uruguay',                            'Tannat'),
            (  'Uruguay',             'Tannat-Cabernet Franc'),
            (  'Uruguay',                     'Tannat-Merlot'),
            (  'Uruguay',                      'Tannat-Syrah'),
            (  'Uruguay',                'Tempranillo-Tannat'),
            (  'Uruguay',                       'White Blend')],
           names=['country', 'variety'], length=1612)

In [326]:
# Sắp xếp giá trị torng Series theo thứ tự giảm dần dựa vào số lượng vang đếm được. 
Y = wine_reviews.groupby('variety').size()
Y.sort_values(ascending=False).reset_index()

                      variety      0
0                  Pinot Noir  13272
1                  Chardonnay  11753
2          Cabernet Sauvignon   9472
3                   Red Blend   8946
4    Bordeaux-style Red Blend   6915
..                        ...    ...
702                  Ojaleshi      1
703                    Ondenc      1
704               Catalanesca      1
705              Orangetraube      1
706                   Žilavka      1

[707 rows x 2 columns]

In [284]:
def get_star_ratings(row):
                if row.country == 'Canada':
                   return 3
                if row.points >= 95:
                    return 3
                elif row.points >= 85:
                    return 2
                else:
                    return 1    
star_ratings.value_counts()
#Bài buổi trước về hàm apply

2    114877
1     12421
3      2673
dtype: int64

In [277]:
wine_reviews.head(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,idxmax
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462

In [285]:
def get_star_ratings(row):
                if row.country == 'Canada':
                   return 3
                if row.points >= 95:
                    return 3
                elif row.points >= 85:
                    return 2
                else:
                    return 1    
wine_reviews['star_ratings'] = wine_reviews.apply(get_star_ratings, axis=1)
wine_reviews.head(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,idxmax,star_ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462,2

In [324]:
wine_reviews.groupby(['country', 'province']).mean()

                               points      price    idxmax  star_ratings
country   province
Argentina Mendoza Province  86.826593  25.053317  5.119496      1.742953
          Other             86.001866  21.203774  5.488273      1.695896
Armenia   Armenia           87.500000  14.500000  6.040476      2.000000
Australia Australia Other   85.518367  12.427966  8.010896      1.681633
          New South Wales   87.694118  25.623529  4.778116      1.882353
...                               ...        ...       ...           ...
Uruguay   Juanico           86.333333  48.583333  3.708941      1.666667
          Montevideo        88.272727  26.090909  3.863006      1.909091
          Progreso          86.818182  24.272727  4.436341      1.818182
          San Jose          84.000000  30.000000  3.330000      1.333333
          Uruguay           86.833333  22.083333  4.425196      1.833333

[425 rows x 4 columns]

In [318]:
wine_reviews.groupby('taster_name').size().reset_index()

           taster_name      0
0   Alexander Peartree    415
1   Anna Lee C. Iijima   4415
2     Anne Krebiehl MW   3685
3         Carrie Dykes    139
4    Christina Pickard      6
5          Fiona Adams     27
6         Jeff Jenssen    491
7           Jim Gordon   4177
8       Joe Czerwinski   5147
9        Kerin O’Keefe  10776
10       Lauren Buzzeo   1835
11       Matt Kettmann   6332
12   Michael Schachner  15134
13       Mike DeSimone    514
14        Paul Gregutt   9532
15          Roger Voss  25514
16    Sean P. Sullivan   4966
17     Susan Kostrzewa   1085
18      Virginie Boone   9537

In [34]:
# có $400, tìm tên loại vang ngon nhất mà tôi có thể mua với số tiền đang có? 
O = wine_reviews.groupby(['price'])["points"].max().reset_index()
O[O.price<=400]
# TẠO THÊM CỘT INDEX

     price  points
0      4.0      86
1      5.0      87
2      6.0      88
3      7.0      91
4      8.0      91
..     ...     ...
299  391.0      93
300  395.0      95
301  398.0      95
302  399.0      95
303  400.0      96

[304 rows x 2 columns]

In [ ]:
wine_reviews.groupby('country').max()[['description','province']]
#Cách 2: wine_reviews.groupby('country')[ 'province','description'].max()

In [373]:
# điểm vang cao nhất của dòng vang đó và giá tiền của chai thấp nhất cùng dòng.